<!DOCTYPE html>
<html>

<head>
  <title>First Project</title>
  <link rel="stylesheet" href="/static/styles/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap-horizon/bootstrap-horizon.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
  <!-- Fixed Header Block -->
  <div id="head_div">
    <div id="head_container">
      <h1 id="head">FRIENDWELL</h1>
    </div>
    <div id="options_div">
      <div>
        <button class="opt_b" id="data_b" onclick="viewele('data_div')">My Data</button>
      </div>
      <div>
        <button class=" opt_b" id="fitness_b" onclick="viewele('fit_div')">Fitness</button>
      </div>
      <div>
        <button class="opt_b" id="screen_b" onclick="viewele('screen_div')">Screen Time</button>
      </div>
      <div>
        <button class="opt_b" id="hyd_b" onclick="viewele('hyd_div')">Hydration</button>
      </div>
      <div>
        <button class="opt_b" id="med_b" onclick="viewele('med_div')">Medication</button>
      </div>
      <div>
        <button class="opt_b" id="group_b">Groups</button>
      </div>
      <script type="text/javascript">
        function viewele(name) {
          var elmnt = document.getElementById(name);
          elmnt.scrollIntoView({ behavior: 'smooth', block: "end" });
        }
      </script>
    </div>
  </div>

  <!-- Data Display Block -->
  <div class="items">
    <div class="block" id="data_div">
      <div>
        <div id="left_b_div">
          <button class="switch_b" id="left_b" onclick="replace(2)"><i class="fa fa-chevron-left"></i></button>
        </div>
        <div id="right_b_div" class="data_block">
          <button class="switch_b" id="right_b" onclick="replace(1)"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div id="map" class="data_block" style="display:block">
          <div>
            <h3 class="title"><br>Adventure Map</h3>
          </div>
          <div class="scroll_wrapper">
            <div id="map_panel">
              <!-- Inset steps remaining (calculated from points)-->
              <p id="go_title">Steps remaining:<span></span></p>
              <button id="go_b" class="normal_b">Go</button>
            </div>
            <div class="scene" style="display:inline-flex">
              <img class="scene_img" src="static/img/stage1.jpg" width="800px" height="410px">
              <div id="avatar_div">
                <img src="static/img/avatar.gif" width="140px" height="140px" id="avatar_pic">
              </div>
            </div>
            <div class="scene" style="display:inline-flex">
              <img class="scene_img" src="static/img/stage2.jpg" width="800px" height="410px">
              <div id="avatar_div">
                <img src="static/img/avatar.gif" width="140px" height="140px" id="avatar_pic">
              </div>
            </div>
            <div class="scene" style="display:none">
              <img class="scene_img" src="static/img/stage3.jpg" width="800px" height="410px">
            </div>
            <div class="scene" style="display:none">
              <img src="static/img/stage4.png" width="800px" height="410px">
            </div>
            <div class="scene">
              <img class="scene_img" src="static/img/end.png" width="200px" height="410">
            </div>
          </div>
        </div>
        <div id="numbers" class="data_block" style="display:none">
          <div class="vert_bar">
            <div>
              <h2 class="title">League: <span id="league_name"></span></h2>
            </div>
            <!-- Receiving data from the database? -->
            <!-- Data visualization from points -->
            <div>
              <progress id="league_bar" value="32" max="100"></progress>
            </div>
            <br>
            <div>
              <p>More information about this league?</p>
            </div>
          </div>
          <div class="vert_bar">
            <h3 class="title sec">Date: <span id="league_name">
                <script> document.write(new Date().toLocaleDateString());</script>
              </span></h3>
            <h3 class="title sec">Goals Accomplished:</h3>
            <div id="goals_grid">
              <div>
                <button class="grid_b" id="grid_fit_b">Fitness</button>
              </div>
              <div>
                <button class="grid_b" id="grid_screen_b">ScreenTime</button>
              </div>
              <div>
                <button class="grid_b" id="grid_hyd_b">Hydration</button>
              </div>
              <div>
                <button class="grid_b" id="grid_med_b">Medication</button>
              </div>
            </div>
          </div>

        </div>
        <div id="notifications" style="display:none">
          <p>Notifications</p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function view(name) {
        var elmnt = document.getElementById(name);
        elmnt.scrollIntoView(true);
      }
      function replace(num) {
        pages = ["map", "numbers", "notifications"];
        colors = ["#92b587", "pink", "lightblue"]
        if (document.getElementById("map").style.display == "block") {
          current = 0;
          document.getElementById("map").style.display = "none";
        } else if (document.getElementById("numbers").style.display == "block") {
          current = 1;
          document.getElementById("numbers").style.display = "none";
        } else {
          current = 2;
          document.getElementById("notifications").style.display = "none";
        }
        new_page = (current + num) % 3;

        document.getElementById(pages[new_page]).style.display = "block";
        document.getElementById("data_div").style.backgroundColor = colors[new_page];
      }
    </script>
    <div class="block" id="fit_div">
      <div class="block_txt" id="fit_txt">
        <div>
          <h2 id="fit_title">Fitness</h2>
        </div>
        <div class="content">
          <div>
            <h3>Your Condition: very good.</h3>
            <br>
            <p class="advice">You are done with exercise for today!</p>
          </div>
          <br>
          <br>
          <div>
            <p>Enter data for today: (type of data undecided)</p>
            <input type="number" id="step_input" value="steps"></input>
            <button class="normal_b" onclick="writeval()">submit</button>
            <p>You just entered: <span id="step_entered"></span> steps</hp>
              <script>
                function writeval() {
                  document.getElementById("step_entered").innerHTML = document.getElementById("step_input").value;
                  document.getElementById("step_input").value = "";
                }
              </script>
          </div>
        </div>

        <div>

        </div>
      </div>
      <canvas id="fit_chart" style="width:100%;height:100%; max-width:500px;max-height:350px"></canvas>
      <!-- changing the array? -->
      <script>
        var xValues = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"];
        var yValues = [55, 49, 44, 24, 15, 20, 49];
        var barColors = ["blue"];

        new Chart("fit_chart", {
          type: "bar",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(255, 159, 64, 0.5)',
                'rgba(255, 205, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(150, 150, 207, 0.5)'
              ],
              data: yValues
            }]
          },
          options: {
            legend: { display: false },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }],
            }
          }
        });
      </script>
    </div>
    <div class="block" id="screen_div">
      <div>
        <h2>Screen Time</h2>
      </div>
    </div>
    <div class="block" id="hyd_div">
      <div>
        <h2>Hydration</h2>
      </div>
    </div>
    <div class="block" id="med_div">
      <div>
        <h2>Medication</h2>
      </div>
    </div>
  </div>
  <!-- Fixed Header Block -->


</body>

</html>
